{
  "parser": "babel-eslint",
  "extends": "eslint-config-airbnb",
  "rules": {
    "spaced-comment": [0],
    "no-unused-vars": [0],
    "no-empty": [0],
    "react/wrap-multilines": [0],
    "react/no-multi-comp": [0],
    "no-constant-condition": [0],
    "react/jsx-no-bind": [0],
    "react/prop-types": [0],
    "arrow-body-style": [0],
    "react/prefer-stateless-function": [0],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": [0],
    "no-restricted-syntax": ["error", "WithStatement"],
    "no-bitwise": ["error", { "allow": ["~"] }],
    "semi": [0],
    "global-require": [0],
    "no-shadow": [0],
    "no-useless-computed-key": [0],
    "no-underscore-dangle": [0]
  },
  "ecmaFeatures": {
    "experimentalObjectRestSpread": true
  }
}
